<div class="row">
   
      <div class="col-md-6">
        <br>
        <h1>Appointments</h1>
          <div class="card">
              <div class="card-header">
                <h4>Patient ID : 0092</h4>
              </div>
              <div class="card-body">
               <h4> Appointment time: 24-may-2018 9:00 pm </h4>
               <h3>Escrow Id :GSJSGSKSOUJ </h3>
             </div>
     
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                  <h4>Patient ID : 0087</h4>
                </div>
                <div class="card-body">
                 <h4>Appointment time: 24-may-2018 10:00 pm </h4>
                 <h3>Escrow Id : GSJDKDHDKDKK</h3>
               </div>
    
              </div>
              <br>
              <div class="card">
                  <div class="card-header">
                    <h4>Patient ID :0074</h4>
                  </div>
                  <div class="card-body">
                   <h4>Appointment time: 24-may-2018 11:00 pm </h4>
                   <h3>Escrow Id : GFJDKDLDUDHDK</h3>
                 </div>
       
                </div>
         
       </div>
           
      <br>
      <div class="col-md-5 report">
        <br>
       
          <a role="button" (click)="generateReport()" class="btn btn-primary btn-lg">Report Generation</a>
        <hr>

        <a role="button" routerLink="/doctor/appointments/patients/checkups/video/init">
          Go online</a>
          <a role="button" routerLink="/doctor/appointments/patients/checkups/video/connect">
            Connect</a>

       <router-outlet></router-outlet>
    
       <app-appointment-list *ngIf="report == true"></app-appointment-list>
         
  </div>


</div>
