<div>
  <nav id="sidebar">
    
    <div class="sidebar-header">

        <h3>DOCTOR</h3>
  
    </div>
  
    <!-- Sidebar Links -->
    <ul class="nav navbar-nav">
        <li ><a  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/doctor/profile" >Profile</a></li>
        <li > <a  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/doctor/patients">Patients</a></li>
        <li ><a  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" routerLink="/doctor/payments" >Payments</a></li>
        <li ><a  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}" routerLink="/doctor/appointments" >Appointments</a></li>
        
    </ul>
  </nav>
  
  </div>