<div>
    <nav id="sidebar">
      
      <div class="sidebar-header">
  
          <h3>Patient </h3>
          <p>{{ sidebarName}}</p>
    
      </div>
    
      <!-- Sidebar Links -->
      <ul class="nav navbar-nav">
          <li ><a  routerLinkActive="active-link" routerLink="/patient/profile" >Profile</a></li>
          <li > <a  routerLinkActive="active-link"  routerLink="/patient/payment">Payments</a></li>
          <li ><a  routerLinkActive="active-link" routerLink="/patient/doctors" >Doctors</a></li>
          <li ><a  routerLinkActive="active-link" routerLink="/patient/checkups" >Check-ups</a></li>
          <li ><a role="button" (click)="logout()">Log out</a></li>
          
      </ul>
    </nav>
    
    </div>